{{ define "header" }}
<div>
    <nav>
        {{ partial "back-home.html" . }}
    </nav>
    
    <!-- Tags -->
    {{ with .Params.tags }}
    <ol class="mt-4">
        {{ range . }}
        <li class="inline-block">
            <a class="border-none text-gray-800 text-xs bg-gray-400 hover:bg-gray-600 hover:text-white rounded-sm px-3 py-1" href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
    </ol>
    {{ end }}
</div>
{{ end }}

{{ define "content" }}
<article class="mb-12 h-entry">

    <header>
        <!-- Title and Publication Date -->
        <h1 class="text-xl font-bold p-name">{{ .Title }}</h1>
        <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">
            {{ index $.Site.Data.days (printf "%d" .Date.Weekday) }}, {{.Date.Day}} {{ index $.Site.Data.months (printf "%d" .Date.Month) }}
        </time>

        <!-- 
            H-card that is used for IndieWeb 

            I couldn't get it to work wiht just linking to the author at the homepage. A lot of services didn't manage to follow the link and get the author from the homepage instead of on this post page.
        -->
        <a style="display: none;" href="/" class="u-author h-card">
            <img loading="lazy" class="u-photo" src="{{ "avatar-md.jpg" | absURL }}" alt="Johan Larsson" />
            <span class="p-name">Johan Larsson</span>
        </a>
    </header>
    
    <div class="e-content">
        {{ .Content }}
    </div>
    <div id="elm-web-mentions">
    </div>
</article>

{{ if .Site.IsServer }}
    {{ $script := resources.Get "js/main.js" }}
    <script src="{{ $script.Permalink }}"></script>
{{ else }}
    {{ $script := resources.Get "js/main.js" | minify | fingerprint }}
    <script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>
{{ end }}

<script>
  var app = Elm.WebMentions.init({
    node: document.getElementById('elm-web-mentions')
  });
  </script>
{{ end }}


