{{ define "heading" }}
<div>
    {{ partial "back-home.html" . }}
    
    <!-- Tags -->
    {{ with .Params.tags }}
    <ol class="mt-4">
        {{ range . }}
        <li class="inline-block">
            <a class="border-none text-gray-800 text-xs bg-gray-400 hover:bg-gray-600 hover:text-white rounded-sm px-3 py-1" href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
    </ol>
    {{ end }}
</div>
{{ end }}

{{ define "content" }}
<article class="mb-12 h-entry">

    <div>
        <!-- Title and Publication Date -->
        <h1 class="text-xl font-bold p-name">{{ .Title }}</h1>
        <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">
            {{ index $.Site.Data.days (printf "%d" .Date.Weekday) }}, {{.Date.Day}} {{ index $.Site.Data.months (printf "%d" .Date.Month) }}
        </time>
        <a href="/" class="u-author"></a>

    </div>

    
    <div class="e-content">
        {{ .Content }}
    </div>
</article>
{{ end }}