{{ define "heading" }}

<div class="my-4 text-4xl">
	👋
</div>

<div>
    <h1 class="text-xl font-bold">{{ .Site.Params.heading }}</h1>
    <p class="my-4">{{ .Site.Params.tagline | markdownify }}</p>
</div>

<ul class="list-none px-0">
{{ range .Site.Params.social }}
	<li class="my-2"><a rel="me" href="{{ .link }}">{{ .name }}</a></li>
{{ end }}
</ul>

{{ end }}



{{ define "content" }}
<section class="mb-24">
    {{ range site.RegularPages.GroupByDate "2006" -}}
        {{ partial "posts.html" . }}
    {{ end }}
</section>
{{ end }}